<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <title>Production Line Simulation</title>
</head>
<body>
    <main class="Grid-Container-Main">
        <svg id="connection-arrows"></svg>

        <div class="KI-Layer">
            <div class="Layer-Name">
                KI Layer
            </div>
            <div class="Model-Structure">
                <div class="Model-Structure-Label">
                    <h1>Model Structure</h1>
                </div>
                <div class="Model-Structure-Parameters">
                    <button type="button">Params</button>
                </div>
            </div>
            <div class="ML-Flow">
                <div class="ML-Flow-Label">
                    <h1>ML Flow</h1>
                </div>
                <div class="ML-Flow-Graphs">
                    <button type="button">Graphs</button>
                </div>
            </div>
            <div class="Quality-Check">
                <ul>
                    <li>OBJ-ID: XYZ</li>
                    <li>Machines: 1/3</li>
                    <li>Quality: GOOD</li>
                </ul>
            </div>
            <div class="Test-Check">
                <button type="button">3/5</button>
            </div>

        </div>
        
        <div class="Data-Layer">
            <div class="Layer-Name">
                Data Layer
            </div>
            <div class="Database">
                <h1>Influx DB</h1>
            </div>
            <div class="Database-Table-View">
                <button type="button" onclick="openInNewWindow('http://localhost:3000/d/postgres-demo/postgres-table-view')">Table View</button>
            </div>
        </div>

        <div class="Machine-Layer">
            <div class="Layer-Name">
                Machine Layer
            </div>
            <div class="Packaging-Line" data-machine="cnc">
                <div class="Machine">
                    <div class="ampel" data-id="cnc">
                        <div class="circle-red" data-color="red"></div>
                        <div class="circle-yellow" data-color="yellow"></div>
                        <div class="circle-green" data-color="green"></div>
                    </div>
                    <div class="Params">
                        <h1>CNC</h1>
                        <p>ID: 1001</p>
                        <input type="text" placeholder="Tool Temperature (C)">
                        <input type="text" placeholder="Spindle Speed (RPM)">
                        <div class="button-group">
                            <button class="start" onclick="setAmpelState('start', 'cnc'); control('cnc', 'start')">Start</button>
                            <button class="stop" onclick="setAmpelState('stop', 'cnc'); control('cnc', 'stop')">Stop</button>
                        </div>
                    </div>
                    <div class="Machine-Statistics">
                        <button class="Machine-Statistics-Button" onclick="openInNewWindow('http://localhost:5050')">Stats</button>
                    </div>
                </div>
                <div class="Machine" data-machine="assembly_robot">
                    <div class="ampel" data-id="ar">
                        <div class="circle-red" data-color="red"></div>
                        <div class="circle-yellow" data-color="yellow"></div>
                        <div class="circle-green" data-color="green"></div>
                    </div>
                    <div class="Params">
                        <h1>Assembly Robot</h1>
                        <p>ID: 1002</p>
                        <input type="text" placeholder="Speed of Movement (m/s)">
                        <input type="text" placeholder="Load Weight (kg)">
                        <div class="button-group">
                            <button class="start" onclick="setAmpelState('start', 'ar'); control('assembly_robot', 'start')">Start</button>
                            <button class="stop" onclick="setAmpelState('stop', 'ar'); control('assembly_robot', 'stop')">Stop</button>
                        </div>
                    </div>
                    <div class="Machine-Statistics">
                        <button class="Machine-Statistics-Button" onclick="openInNewWindow('http://localhost:5050')">Stats</button>
                    </div>
                </div>
                <div class="Machine" data-machine="packaging">
                    <div class="ampel" data-id="pack">
                        <div class="circle-red" data-color="red"></div>
                        <div class="circle-yellow" data-color="yellow"></div>
                        <div class="circle-green" data-color="green"></div>
                    </div>
                    <div class="Params">
                        <h1>Packaging</h1>
                        <p>ID: 1003</p>
                        <input type="text" placeholder="Package Weight (kg)">
                        <input type="text" placeholder="Packaging Material">
                        <div class="button-group">
                            <button class="start" onclick="setAmpelState('start', 'pack'); control('packaging', 'start')">Start</button>
                            <button class="stop" onclick="setAmpelState('stop', 'pack'); control('packaging', 'stop')">Stop</button>
                        </div>
                    </div>
                    <div class="Machine-Statistics">
                        <button class="Machine-Statistics-Button" onclick="openInNewWindow('http://localhost:5050')">Stats</button>
                    </div>
                </div>
            </div>
            <div class="Test-Check">
                <button type="button">3/5</button>
            </div>
        </div>

    </main>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  
</body>
</html>